.icon {
  width: 1.3em;
  height: 1.3em;
  vertical-align: -0.15em;
  padding-right: 5px;
  fill: currentColor;
  overflow: hidden;
}
.el-tooltip__popper.is-light {
  color: #4e4e4e;
  border: 1px solid #8a8a8a !important;
}
.el-menu {
  --el-menu-bg-color: none;
}
// 最外面的容器
.el-container {
  width: 100%;
  height: 100%;
  // 侧边栏
  .el-aside {
    width: 200px;
    height: 100%;
    // background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    background-color: #94B49F;
  }
  // 主体
  .el-container {
    width: 100%;
    height: 100%;
    .el-header {
      background: linear-gradient(-45deg, #ffdee9, #b5fffc);
      background-size: 600% 600%;
      animation: gradientBG 20s ease infinite;
    }
    @keyframes gradientBG {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .el-main {
      width: 100%;
      height: 100%;
    }
  }
}
// home.vue
#HomeMain {
  background-color: #accbee;
}
